


body{
    background-image: url("../images/Background.jpg");
    height: 400px;
    width: 960px;
}

ul{
    color: grey;
    font-size: 18px;
    background:black;
    width: 600px;
    height: 200px;
   position: absolute;
   top: 11.2%;
   
}

.animation-1 {
    width: 720px;
    height: 200px;
    position: absolute;
    right: 0%;
    top: 14%;
}
.animation-2 {
    width: 45px;
    height: 45px;
    position: absolute;
    right: 62%;
    top: 1.5%;
}


#wins {
    color:greenyellow;
      font-size: 20px;
      
}

#loss {
    color:red;
      font-size: 20px;

      
}
#randomNumber, #score{
    color:yellow;
      font-size: 20px;
      
}
/*-----------------------------------------------------*/

.col-md-12{
    margin: 20px;
    text-align: left;
    width: 500px;
    
    margin: 0px;
    padding: 0px;
}

.crystal1, .crystal2, .crystal3, .crystal4 {
    height: 100px;
    width: 100px;
}
p {
    
    color:white;
    
}

#black-crystal-header {
    color:  gray;
    width: 200px;
    margin: 0px;

}

#purple-crystal-header {
    color: purple;
    width: 200px;
    margin: 0px;
   
   

}

#red-crystal-header {
    color: red;
    width: 200px;
    margin: 0px;

}

#green-crystal-header {
    color: #12E09C;
    width: 200px;
    margin: 0px;

}

.heading-1 {
    color: gray;
    margin: 42px;
    
    
    
}

h1 {
    color: white;
    margin: 0px;
    position: absolute;
    right: 38%;
    top: 2%;
}

h2 {
    color: gray;
    margin: 40px;
    
}

.col-md-3{
    position:absolute;
     width: 250px;
     top: 70%;
     right: 60%;
 }


.col-md-4{
   position:absolute;
    width: 250px;
    right: 45%;
    top: 70%;
    margin: 0px;
    padding: 0px;
}
.col-md-5{
    position:absolute;
     width: 250px;
     right: 30%;
     top: 70%;
     margin: 0px;
     padding: 0px;
 }

 .col-md-6{
    position:absolute;
     width: 250px;
     right: 15%;
     top: 70%;
     margin: 0px;
     padding: 0px;
 }
 
 /*-------------------------------------------*/
 .styleRand {
    position:absolute;
    width: 750px;
    right: 24%;
    top: 54%;
    padding: 4px 4px 4px 40px ;
    background:rgb(22, 22, 22);
    border-style: solid;
    border-color:rgb(92, 92, 92);
    border-width: 0.2px;
    font-size: 18px;

 }

 .styleWin {
    position:absolute;
    width: 250px;
    right: 45%;
    top: 57%;
    margin: 0px;
    padding: 4px 4px 4px 4px ;
    font-size: 18px;

 }

 .styleLoss {
    position:absolute;
    width: 250px;
    right: 30%;
    top: 57%;
    margin: 0px;
    padding: 4px 4px 4px 4px ;
    font-size: 18px;

 }

 .styleScore {
    position:absolute;
    width: 250px;
    right: 15%;
    top: 57%;
    margin: 0px;
    padding: 4px 4px 4px 4px ;
    font-size: 18px;

 }

 .alertLoss {
    position:absolute;
    width: 300px;
    right: 38%;
    top: 48.5%;
    margin: 0px;
    padding: 0px;
    color: red;
    font-size: 40px;

 }
 .alertWon {
    position:absolute;
    width: 300px;
    right: 38%;
    top: 48.5%;
    margin: 0px;
    padding: 0px;
    color:greenyellow;
    font-size: 40px;

 }





