

html{
    background: grey;
    color:white;
    size: 20px;
    text-align: center;
    padding-top: 50px;
}
h1{
    color:yellow;

}

#wins {
    color:greenyellow;
      font-size: 20px;
      
}

#loss {
    color:red;
      font-size: 20px;
      
}
#randomNumber{
    color: yellow;
      font-size: 20px;
      
}